// Components
@use "components/navbar";
@use "components/sidebar";
@use "components/username";
@use "components/dailysessions";
@use "components/infocards";
@use "components/averagesessions";
@use "components/performance";
@use "components/score";

// Pages
@use "pages/profile";

// Abstract
@use "abstract/variables";

html, body, #root, .App {
    height: 100%;
}

html {
	font-family: variables.$font;
	scroll-behavior: smooth;
}

body {
	margin: 0;
}
