// Components
@use "components/navbar";
@use "components/sidebar";
@use "components/username";
@use "components/dailysessions";
@use "components/infocards";
@use "components/averagesessions";
@use "components/performance";

// Pages
@use "pages/profile";

// Abstract
@use "abstract/variables";

html, body, #root, .App {
    height: 100%;
}

html {
	font-family: variables.$font;
	scroll-behavior: smooth;
}

body {
	margin: 0;
}

.App {
	display: grid;
    height: 100%;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
	grid-template-areas:
		"navbar navbar"
		"sidebar main";
}