.averagesessions-container {
    grid-area: line-chart;
    position: relative;
    background-color: #ff0000;
    border-radius: 10px;
    aspect-ratio: 1/1;
    overflow: visible;

    h3 {
        position: absolute;
        color: #ffffff60;
        font-size: 15px;
        font-weight: 500;
        top: 10px;
        left: 30px;
    }

    .averagesessions-tooltip {
        background-color: white;
        padding: 1px 8px;

        p {
            color: black;
            font-size: 12px;
            font-weight: 500;
        }
    }

    .recharts-cartesian-axis-ticks {
        transform: scale(0.8) translateX(13%);
    }

    .rectangle {
        opacity: 0.1;
    }
}
