.averagesessions-container {
    grid-area: line-chart;
    position: relative;
    background-color: #ff0000;
    color: #ffffff28;
    border-radius: 10px;

    .averagesessions-tooltip {
        background-color: white;
        padding: 1px 8px;

        p {
            color: black;
            font-size: 12px;
            font-weight: 500;
        }
    }

    .averagesessions-cursor {
        width: 100px;
        height: 100px;
        background-color: #00000050;
    }

    .rectangle {
        opacity: 0.1;
    }
}
