.dailysessions-container {
    grid-area: bar-chart;
    display: flex;
    position: relative;
    background-color: #FBFBFB;
    padding: 40px 60px;
    border-radius: 10px;

    h3 {
        position: absolute;
        top: 26px;
        font-weight: 500;
        color: #20253A;
    }


    .recharts-responsive-container {
        width: 99% !important;
    }

    .recharts-legend-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-bottom: 50px;

        .recharts-default-legend {
            display: flex;
            align-items: center;
            column-gap: 30px;

            li {
                display: flex !important;
                align-items: center;
                column-gap: 10px;

                .recharts-surface {
                    border-radius: 20px;
                }
            }


            span {
                color: #74798C !important;
                font-size: 14px;
                font-weight: 500;
            }
        }
    }

    .dailysessions-tooltip {
        padding: 10px 10px;
        background-color: #E60000;

        p {
            color: white;
            font-weight: 500;
            font-size: 12px;
        }
    }
}