.infocards-container {
    grid-area: info-card;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 40px;

    .infocard-wrapper {
        display: flex;
        align-items: center;
        column-gap: 10%;
        padding: 0 10%;
        background-color: #FBFBFB;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        justify-content: center;

        .image-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 30px;
            width: 50%;
            max-width: 60px;
            border-radius: 10px;
            aspect-ratio: 1 / 1;

            svg {
                width: 100%;
                height: 50%;
                color: #FF0000;
                fill: #FF0000;
            }

            &.red {
                background-color: #ff000010;
            }

            &.blue {
                background-color: #4AB8FF1A;
            }

            &.yellow {
                background-color: #FDCC0C20;
            }

            &.pink {
                background-color: #FD51811A;
            }
        }

        .data-wrapper {
            h3 {
                line-height: 0;
                font-weight: 700;
                font-size: 20px;
            }

            span {
                line-height: 0;
                font-weight: 500;
                font-size: 14px;
                color: #74798C90;
            }
        }
    }
}