.username-container {
    grid-area: username;

    .username-wrapper {
        display: flex;
        align-content: center;

        h1 {
            font-weight: 500;
            font-size: 48px;
            line-height: 0;
        }

        .name {
            color: #FF0101;
        }
    }

    h2 {
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
    }

    margin-bottom: 60px;
}