.main-container {
    display: grid;
    grid-template-areas: 
        'username username username username'
        'bar-chart bar-chart bar-chart info-card'
        'bar-chart bar-chart bar-chart info-card'
        'line-chart radar-chart radial-bar-chart info-card'
        'line-chart radar-chart radial-bar-chart info-card'
    ;
    column-gap: 50px;
    margin: 40px 80px 60px 100px;
}