.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 160px 160px 130px 130px;
    grid-template-areas: 
        'username username username username'
        'bar-chart bar-chart bar-chart info-card'
        'bar-chart bar-chart bar-chart info-card'
        'line-chart radar-chart radial-bar-chart info-card'
        'line-chart radar-chart radial-bar-chart info-card'
    ;
    gap: 30px 30px;
    margin: 40px 80px 60px 190px;
}